input{
    margin-left: 885px;
    font-size: 27px;
}
body{
    background-image: url(bcg.jpg);
}
label {
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-style: Serif;
    margin-bottom : 04px;
    margin-top : 10px;
    margin-left: 888px;
    
}
h1 {
    margin-top : 58px;
    margin-bottom: 23px;
    color: #fff;
    text-align: center;
    font-size: 48px ;
}
button {
    text-align: center;
    margin-bottom : 40px;
    margin-top : 5x;
    margin-left: 886px;
    font-size: 28px;
}
p{
    text-align: center
}